h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

@import "./base/variables";
@import "./base/mixins";

.container {
  max-width: 1050px;
  margin: 0 auto;
}

body {
  background: var(--dark);
}

@import "./blocks/header";
@import "./blocks/promo";
@import "./blocks/collection";
@import "./blocks/creators";
@import "./blocks/categories";
@import "./blocks/discover";
@import "./blocks/mushroom";
@import "./blocks/works";
@import "./blocks/join";
@import "./blocks/footer";

@import "./base/media";
