.main__form {
  padding-block: 50px;
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px gainsboro;
}

.main__form select,
.main__form input {
  border-radius: 12px;
  border: 1px solid lightgray;
  padding: 10px;
  outline: none;
}

.main__form input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.main__form button {
  height: 40px;
  padding: 10px;
  background: indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 12px;
  transition: 0.3s all;
}

.main__form button:active {
  transform: scale(0.95);
}

