.main__post {
  width: 100%;        
  height: 400px;         
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 15px gainsboro;
  margin: 10px;
  background-color: #ccc; /
}

.main__post-text {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.main__post-title {
  font-size: 14px;  
  font-weight: bold;
  margin-bottom: 5px;
}

.main__post-link {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
  
}

.main__post-warning {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  color: #555;
  font-weight: bold;
  border-radius: 20px;
}