    .main__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin: 30px auto 0;
          max-width: 1700px;   
    }
        .main__post {
            border-radius: 20px;
            height: 400px;
            box-shadow: 0 0 15px 5px gainsboro;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .main__post-warning {
                color: gray;
                transform: rotate(-45deg);
                font-size: 25px;
                font-weight: 700;
            }
    }

    @media (max-width: 1200px) {
        .main__content {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 800px) {
        .main__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 500px) {
        .main__content {
            grid-template-columns: 1fr;
        }
    }
