.footer {
    background: var(--dark-gray);
    .footer__items {
        padding: 40px 0;
        .footer__content {
            display: flex;
            .footer__item {
                .footer__item-logo {
                    margin-bottom: 30px;
                }
                .footer__item-text {
                    color: #CCCCCC;
                    text-decoration: none;
                }
                .footer__item-info {
                    margin-top: 20px;
                    .footer__item-socials {
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        a {
                            font-size: 20px;
                            color: #CCCCCC;
                            text-decoration: none;
                            transition: 0.3s all;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                .footer__item-title {
                    font-size: 22px;
                    font-weight: 700;
                    font-family: var(--space-mono);
                    color: #fff;
                    margin-bottom: 25px;
                }
                .footer__item-list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    list-style: none;
                    li {
                        a {
                            transition: 0.3s all;
                            &:hover {
                                color: #fff;
                            }    
                        }
                    }
                }
                .footer__item-form {
                    margin-top: 20px;
                }
                &:nth-child(1) {
                    padding-right: 84px;
                    max-width: 327.41px;
                }
                &:nth-child(2) {
                    padding-right: 107px;
                }
                &:nth-child(3) {
                    max-width: 420px;
                    .footer__item-text {
                        padding-right: 90px;
                    }
                }
            }
        }
        .footer__down {
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px solid var(--gray);
            color: #CCCCCC;
            font-size: 12px;
        }
    }
}