.join {
    .join__items {
        padding-top: 40px;
        padding-bottom: 80px;
        .join__content {
            padding: 60px;
            background: var(--dark-gray);
            border-radius: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 80px;
            align-items: center;
            .join__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .join__text {
                .join__form {
                    margin-top: 40px;
                }
            }
        }
    }
}
