:root {
    --dark: #2B2B2B;
    --dark-gray: #3B3B3B;
    --gray: #858584;
    --light: #FFFFFF;
    --purple: #A259FF;
    --main-title: 67px;
    --subtitle: 22px;
    --title: 38px;
    --static-value: 28px;
    --static-title: 24px;
    --padding-block-size: 80px;
    --margin-top-size: 60px;
    --space-mono: "Space Mono", monospace; 
    --header-inline-padding: 50px;
    --header-block-padding: 20px;
}

